<h1>Listing series</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>En transmision</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |serie| %>
      <tr>
        <td><%= serie.nombre %></td>
        <td><%= serie.descripcion %></td>
        <td><%= serie.en_transmision %></td>
        <td><%= link_to 'Show', serie %></td>
        <td><%= link_to 'Edit', edit_serie_path(serie) %></td>
        <td><%= link_to 'Destroy', serie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Serie', new_serie_path %>
